JWT_SECRET=__JWT_SECRET__
AUTH_SERVICE_HOST=__AUTH_SERVICE_HOST__
AUTH_SERVICE_PORT=__AUTH_SERVICE_PORT__
USER_SERVICE_HOST=__USER_SERVICE_HOST__
USER_SERVICE_PORT=__USER_SERVICE_PORT__
PRODUCT_SERVICE_HOST=__PRODUCT_SERVICE_HOST__
PRODUCT_SERVICE_PORT=__PRODUCT_SERVICE_PORT__
